<div class="container">
    <div class="row">
        <div class="col-sm-12">
            burger picture
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}

                <li>{{burger_name}} <button 
                data-id = {{id}}
                class="devouredbtn">devour it!</button> </li>
                {{/unless}}
                {{/each}}
            </ul>

        </div>
        <div class="col-sm-6">

            <ul>
                {{#each burgers}}
                {{#if devoured}}

                <li>{{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>


        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
   {{!-- making post request using form tag without JS      --}}
         <form action = "/" method = "POST">
               <textarea name="burger_name" id="burgerName" cols="30" rows="10"></textarea>
            <input type = "submit" class="addBurger">add the burger you would like to eat!</input>
         </form>
          
        </div>
    </div>
</div>